body {
  font-family: monospace;
}
.intro {
  white-space: pre;
  height: 380px;
}
.home.row .col-sm-12 {
  white-space: break-spaces;
  font-size: 16px;
}
.where p {
  font-size: 16px;
}
.s7 {
  font-weight: bolder;
}
#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
ul span.covered {
  background-color: tomato;
}
ul span.total {
  background-color: lightgray;
}
